
body {
  background: #fafafa;
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(cactus.png);
}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: arial;
}

span{
  font-family: 'Inconsolata', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #444;
}

.placar {
  position:absolute;
  right: 10rem;
  bottom: 15rem;
  z-index: 1;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.bg {
  position: relative;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 1000s infinite linear;
  -webkit-animation: slideright 1000s infinite linear;
  width: 800px;
  height: 200px;
  margin: 10rem auto;
}